/* --------------------------------------------- */
/*  Global                                       */
/* --------------------------------------------- */

body {
	margin:0;
	padding:0;
}
#B5Chat-main {
	padding-bottom:20px;
}
body, div, p, td, th {
	font-family:arial,helvetica,sans-serif;
	font-size:9pt;
}
body {
	background-color:#FFFFFF;
	color:#333333;
	margin:0;
	padding:0;
}
a {
	color:#D76C0D;
}
a:hover {
	text-decoration:underline;
}
p {
	margin-top:0;
}
fieldset div {
	margin:10px;
	padding:5px 3px 5px 0;
	width:100%;
}
fieldset div .B5Chat-table {
	margin:0;
	padding:0;
}
fieldset {
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	border:2px solid #CCCCCC;
	width:95%;
}
fieldset legend {
	color:#000000;
}
h1 {
	color:#555555;
	font-size:14pt;
	margin:12px 0 15px;
	padding:0;
}
h1 select {
	color:#666666;
}
h2 {
	font-size:11pt;
	margin:18px 0 5px;
	padding:0;
}
h3 {
	font-size:10pt;
	margin:18px 0 5px;
	padding:0;
}
h4 {
	font-size:10pt;
	margin:8px 0 3px;
	padding:0 0 4px;
}
h5 {
	font-size:10pt;
	margin:18px 0 -8px;
	padding:0;
}
p {
    margin-top:0;
}
ul {
    margin:0;
    padding:0 0 12px 26px;
}
hr {
    background-color:#DCDCDC;
    border:medium none;
    height:1px;
    width:100%;
}
form {
    margin:0;
    padding:0;
}
select, input {
    font-family:verdana,arial,sans-serif;
    font-size:8pt;
}
iframe {
    border:1px solid #999999;
}

/* --------------------------------------------- */
/*  Header                                       */
/* --------------------------------------------- */

#B5Chat-header {
    clear:both;
    float:left;
    margin:0;
    overflow:hidden;
    padding:0;
    width:100%;
}

#B5Chat-logo-image {
    color:#FFFFFF;
    display:block;
    left:0;
    position:relative;
    top:0;
}
#B5Chat-logo-image_new {
    background:transparent url(../images/header-title_new.gif) no-repeat scroll 0;
    color:#FFFFFF;
    display:block;
    height:50px;
    left:0;
    overflow:hidden;
    position:absolute;
    top:0;
    width:350px;
}
#B5Chat-logo-image_new strong {
    display:block;
    margin:0 0 0 130px;
    padding-top:23px;
    position:relative;
}
#B5Chat-secondary {
    background-color:#EEEEEE;
    border-bottom:1px solid #BBBBBB;
    border-top:1px solid #CCCCCC;
    padding:6px 6px 6px 12px;
}
#B5Chat-header .info {
    color:#FFFFFF;
    display:block;
    font-size:8pt;
    padding:0;
    position:absolute;
    right:12px;
    text-align:right;
    top:10px;
    width:220px;
}
#B5Chat-header .info img {
    margin:0 0 4px;
}
#B5Chat-content {
    padding:10px 20px 12px 32px;
}

/* name and logo image */
#B5Chat-logo {
    float:left;
    height:76px;
    overflow:hidden;
}
#B5Chat-logo h1 {
    clear:none;
    color:#555555;
    float:left;
    font-size:14pt;
    padding:0;
}
#B5Chat-logo img {
    border:medium none;
    float:left;
    padding-left:10px;
    padding-top:7px;
}

/* version, login and site link */
#B5Chat-userStatus {
    color:#999999;
    float:right;
    font-size:8pt;
    line-height:11pt;
    margin:0;
    padding:15px 15px 0 0;
    text-align:right;
    width:275px;
}
#B5Chat-userStatus a {
    font-weight:bold;
}

/* --------------------------------------------- */
/*  Main nav                                     */
/* --------------------------------------------- */

#B5Chat-header #B5Chat-nav {
    background:#F7F7F7 url(../images/B5Chat-nav-bg.gif) repeat-x scroll 0;
    clear:both;
    height:27px;
    margin:0;
    padding:0;
}
#B5Chat-header #B5Chat-nav-left, #B5Chat-header #B5Chat-nav-right {
    height:27px;
    width:15px;
}
#B5Chat-header #B5Chat-nav-left {
    background:transparent url(../images/B5Chat-nav-div.gif) no-repeat scroll right center;
    float:left;
}
#B5Chat-header #B5Chat-nav-right {
    float:right;
}
#B5Chat-header #B5Chat-nav ul {
    list-style-type:none;
    margin:0 0 0 5px;
    padding:0;
}
#B5Chat-header #B5Chat-nav ul li {
    background:transparent url(../images/B5Chat-nav-div.gif) no-repeat scroll right center;
    color:#FFFFFF;
    float:left;
    font-size:11pt;
    margin:0;
    padding:4px 2px 5px 0;
}
#B5Chat-header #B5Chat-nav ul li a, #B5Chat-header #B5Chat-nav ul li a:visited {
    color:#333333;
    font-size:10pt;
    font-weight:bold;
    margin:0;
    padding:4px 13px;
    text-decoration:none;
}
#B5Chat-header #B5Chat-nav ul li a:hover, #B5Chat-header #B5Chat-nav ul li a:active {
    background:transparent url(../images/B5Chat-nav-bg-over.gif) repeat-x scroll right center;
    text-decoration:underline;
}
#B5Chat-header #B5Chat-nav ul li.currentlink a, #B5Chat-header #B5Chat-nav ul li.currentlink a:visited, #B5Chat-header #B5Chat-nav ul li.currentlink a:active, #B5Chat-header #B5Chat-nav ul li.currentlink a:hover {
    background:transparent url(../images/B5Chat-nav-bg-on.gif) repeat-x scroll right center;
    color:#FFFFFF;
}

/* Subnav */
#B5Chat-subnav {
    background:#F7F7F7 url(../images/B5Chat-subnav-bg.gif) repeat-x scroll 0;
    clear:both;
    height:28px;
    margin:0;
    padding:0;
    width:100%;
}
#B5Chat-subnav .subnav-community {
    background:#F7F7F7 url(../images/B5Chat-subnav-bg.gif) repeat-x scroll 100px 50%;
}
#B5Chat-subnav ul {
    list-style-type:none;
    margin:0 0 0 13px;
    padding:0;
}
#B5Chat-subnav ul li {
    background:transparent url(../images/B5Chat-subnav-div.gif) no-repeat scroll right center;
    color:#FFFFFF;
    float:left;
    font-size:11pt;
    margin:9px 0 0 0;
    padding:0 1px 2px 0;
}
#B5Chat-subnav ul li a, #B5Chat-subnav ul li a:visited {
    font-family:verdana,sans-serif;
    font-size:8pt;
    font-weight:bold;
    margin:0;
    padding:3px 15px;
    text-decoration:none;
}
#B5Chat-subnav ul li a:hover, #B5Chat-subnav ul li a:active {
    background-color:#E3E3E3;
    text-decoration:underline;
}
#B5Chat-subnav ul li.current {
}
#B5Chat-subnav ul li.current a, #B5Chat-subnav ul li.current a:visited {
    background-color:#F9F9F9;
    border-color:#cecece;
    border-style:solid;
    margin:0;
    padding:3px 15px 4px 15px;
    border: 0;
}
#B5Chat-subnav ul li.current a:hover, #B5Chat-subnav ul li.current a:active {
    background-color:#F9F9F9;
    text-decoration:underline;
    border: 0;
}

/* --------------------------------------------- */
/*  Logviewer tabs                               */
/* --------------------------------------------- */

#logviewer td {
    font-family:verdana,sans-serif;
    font-size:8pt;
}
#logviewer .B5Chat-tab, .B5Chat-tab-active {
    background-color:#DDDDDD;
    border:1px solid #CCCCCC;
    padding:4px 1em;
    white-space:nowrap;
}
#logviewer .B5Chat-tab-active {
    background-color:#FFFFFF;
    border-bottom:1px solid #FFFFFF;
}
#logviewer .B5Chat-spacer, .B5Chat-stretch {
    border-bottom:1px solid #CCCCCC;
}
#logviewer .B5Chat-tab a, #logviewer .B5Chat-tab-active a {
    color:#000000;
    font-weight:bold;
    text-decoration:none;
}
#logviewer .B5Chat-tab a:hover, #logviewer .B5Chat-tab-active a:hover {
    text-decoration:underline;
}

/* --------------------------------------------- */
/*  Titles                                       */
/* --------------------------------------------- */

#B5Chat-main #B5Chat-title {
    font-size:12pt;
    font-weight:bold;
    padding-bottom:1em;
}

/* --------------------------------------------- */
/*  Breadcrumbs                                  */
/* --------------------------------------------- */

#B5Chat-main #B5Chat-breadcrumbs {
    font-family:verdana,sans-serif;
    font-size:8pt;
    padding-top:2px;
    white-space:nowrap;
}
#B5Chat-main #B5Chat-breadcrumbs a {
    color:#000000;
    text-decoration:none;
}
#B5Chat-main #B5Chat-breadcrumbs a:hover {
    color:#000000;
    text-decoration:underline;
}

/* --------------------------------------------- */
/*  Sidebar                                      */
/* --------------------------------------------- */

#B5Chat-main {
    background:#FFFFFF url(../images/B5Chat-body-bg.gif) repeat-x scroll center top;
    clear:both;
    display:block;
    float:left;
    margin:0;
    padding:0;
    position:relative;
    width:100%;
}
#B5Chat-sidebar-container {
    float:left;
    font-size:9pt;
    margin:0;
    overflow:hidden;
    padding:0;
    width:200px;
}
#B5Chat-sidebar-box {
    margin:0;
    overflow:hidden;
    padding:0;
    width:200px;
    background-color: #f9f9f9;
}
#B5Chat-sidebar {
    background:transparent url(../images/B5Chat-tertnav-top.gif) no-repeat scroll right top;
    margin-bottom:12px;
    padding-top:0;
}
#B5Chat-sidebar ul {
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
    border-bottom:1px solid #E6E6E6;
    border-right:1px solid #E6E6E6;
    list-style-type:none;
    margin:0 5px 0 0;
    padding:8px 22px 15px;
}
#B5Chat-sidebar ul li {
    border-bottom:1px solid #e6e6e6;
    padding:0;
    border-top:1px solid #f9f9f9;
}
#B5Chat-sidebar ul li a {
    color:#777;
    display:block;
    padding:4px 0 4px 10px;
    text-decoration:none;
}
#B5Chat-sidebar ul li a:link, #B5Chat-sidebar ul li a:visited {
    color:#444444;
    text-decoration:none;
}
#B5Chat-sidebar ul li a:hover {
    text-decoration:underline;
}
#B5Chat-sidebar ul li.currentlink {
    background:transparent url(../images/B5Chat-tertnav-arrow.gif) no-repeat scroll left center;
    font-weight:bold;
}
#B5Chat-sidebar ul.subitems {
    background-color:#f9f9f9;
    border-top: 1.0px solid #f9f9f9;
    border-bottom: 1.0px solid #f9f9f9;
    border-right:0;
    list-style-type:none;
    padding:0 0 0 10px;
    margin:1px 0 1px 0;
}
#B5Chat-sidebar ul.subitems li {
    border-top:1px solid #e6e6e6;
    border-bottom: 1.0px solid #f9f9f9;
    padding:0;
}
#B5Chat-sidebar ul.subitems li.category {
    border-top: 1.0px solid #f9f9f9;
    color:#777;
    font-weight:bold;
    padding:4px 0;
}
#B5Chat-sidebar ul.subitems li a {
    color:#777;
    display:block;
    padding:4px 0 4px 10px;
    text-decoration:none;
}
#B5Chat-sidebar ul.subitems li a:hover {
    text-decoration:underline;
}
#B5Chat-sidebar ul.subitems li.currentlink a, #B5Chat-sidebar ul.subitems li.currentlink a:visited, #B5Chat-sidebar ul.subitems li.currentlink a:hover {
    background:transparent url(../images/B5Chat-tertnav-arrow.gif) no-repeat scroll left center;
    color:#555555;
    font-weight:bold;
    text-decoration:none;
}

/* --------------------------------------------- */
/*  Tasks                                        */
/* --------------------------------------------- */

#B5Chat-runningtask {
    margin-left:1em;
}

/* --------------------------------------------- */
/*  Back link                                    */
/* --------------------------------------------- */

a.B5Chat-link-back {
    font-size:9pt;
}
a.B5Chat-link-back span {
    font-size:10pt;
}

/* --------------------------------------------- */
/*  Edit & Delete links                          */
/* --------------------------------------------- */

a.B5Chat-link-edit, a.B5Chat-link-delete {
    display:block;
    font-size:8pt;
    margin:3px 5px 6px 0;
    padding-left:19px;
}
a.B5Chat-link-edit {
    background:transparent url(../images/edit-16x16.gif) no-repeat scroll left center;
}
a.B5Chat-link-delete {
    background:transparent url(../images/delete-16x16.gif) no-repeat scroll left center;
}

/* --------------------------------------------- */
/*  Hoizontal Rule                               */
/* --------------------------------------------- */

.B5Chat-horizontalRule {
    background-color:#DCDCDC;
    height:1px;
    margin:20px 0 10px;
    overflow:hidden;
    padding:0;
}

/* --------------------------------------------- */
/*  Older styles                                 */
/* --------------------------------------------- */

pre, tt {
    font-family:courier new,monospace;
    font-size:10pt;
}

/* Messages - errors, success and info */
.B5Chat-error table, .B5Chat-info table, .B5Chat-success table {
    border:1px solid #CCCCCC;
}
.B5Chat-error td, .B5Chat-info td, .B5Chat-success td {
    padding:3px;
    vertical-align:top;
}
.B5Chat-error-text, .B5Chat-error .B5Chat-icon-label, .B5Chat-error-text a, .B5Chat-error .B5Chat-icon-label a {
    color:#FF0000;
}
.B5Chat-success-text, .B5Chat-success .B5Chat-icon-label, .B5Chat-success-text a, .B5Chat-success .B5Chat-icon-label a {
    color:#009900;
}
.B5Chat-info-text, .B5Chat-info .B5Chat-icon-label, .B5Chat-info-text a, .B5Chat-info .B5Chat-icon-label a {
    color:#330066;
}

/* tables */
.B5Chat-table {
    border-color:#CCCCCC;
    border-style:solid;
    border-width:1px 1px 0;
}
.B5Chat-table .c1, fieldset .c1 {
    width:30%;
}
.B5Chat-table th, .B5Chat-table td, .B5Chat-option-table th, .B5Chat-option-table td {
    padding:6px;
}
.B5Chat-table th th, .B5Chat-table td td {
    padding:0;
}
.B5Chat-table td.icon {
    padding:0 5px 0 3px;
}
.B5Chat-table th {
    background-color:#EEEEEE;
    border-bottom:1px solid #CCCCCC;
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:8pt;
    font-weight:bold;
    text-align:left;
}
.B5Chat-table th table th {
    border-bottom:medium none;
    border-right:medium none;
}
.B5Chat-table th table th a {
    color:#000000;
    text-decoration:none;
}
.B5Chat-table tr td {
    border-bottom:1px solid #E3E3E3;
}
.B5Chat-table td {
    font-family:arial,helvetica,sans-serif;
    font-size:10pt;
}
.B5Chat-table .B5Chat-odd td {
    background-color:#FFFFFF;
}
.B5Chat-table .B5Chat-even td {
    background-color:#FBFBFB;
}
.B5Chat-table tfoot td {
    background-color:#EEEEEE;
    border-bottom:1px solid #CCCCCC;
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:8pt;
}
.B5Chat-table td td {
    border-width:0;
}
.B5Chat-table input, .B5Chat-table select, .B5Chat-option-table input, .B5Chat-option-table select {
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:8pt;
}
.B5Chat-description, .B5Chat-description a, .B5Chat-table .B5Chat-date, .B5Chat-description input, .B5Chat-description select {
    font-family:arial,helvetica,sans-serif;
    font-size:8pt;
}
.B5Chat-label, .B5Chat-option-table label {
    font-weight:bold;
    padding-right:10px;
    white-space:nowrap;
}
.B5Chat-label {
    padding-right:20px;
    vertical-align:top;
}
.B5Chat-buttons .B5Chat-icon {
    padding:3px;
}
.B5Chat-buttons .B5Chat-icon-label {
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:8pt;
    padding:3px 1em 3px 3px;
    white-space:nowrap;
}

/* --------------------------------------------- */
/*  Calendar styles                              */
/* --------------------------------------------- */

table.calBgColor {
    padding:0;
}
td.cal {
    background-color:#FFFFFF;
    color:#000000;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    padding:0;
}
select.month {
    background:transparent none repeat scroll 0;
    color:#000000;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    width:85px;
}
input.year {
    background:transparent none repeat scroll 0;
    color:#000000;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    width:30px;
}
td.calDaysColor {
    background-color:#000000;
    color:#FFFFFF;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
}
td.calWeekend {
    background-color:#D3D3D3;
    color:#FFFFFF;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
}
td.calBgColor {
    background-color:#FFFFCC;
    color:#FFFFFF;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
}
.calBorderColor {
    background-color:#A9A9A9;
    color:#FFFFFF;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
}
td.calHighlightColor {
    background-color:#FFFFCC;
    color:#FFFFFF;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
}
a.cal {
    background:transparent none repeat scroll 0;
    color:#000000;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    text-decoration:none;
}
a.cal:hover {
    background:transparent none repeat scroll 0;
    color:#FF0000;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    text-decoration:none;
}
.calDisabled {
    background:transparent none repeat scroll 0;
    color:#808080;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    text-decoration:none;
}

/* --------------------------------------------- */
/*  Quote original styles                        */
/* --------------------------------------------- */

.B5Chat-quoteheader {
    font-weight:bold;
    margin-left:15px;
    width:90%;
}
.B5Chat-quote {
    background-color:#FAFAFA;
    border:1px solid #D1D7DC;
    color:#444444;
    margin-left:15px;
    width:90%;
}
.success {
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    background-color:#CDF6CD;
    background-image:url(../images/success-16x16.gif);
    background-position:5px;
    background-repeat:no-repeat;
    border:1px solid #029B00;
    color:#006600;
    font-weight:bold;
    margin-bottom:20px;
    margin-top:10px;
    padding:5px 5px 5px 28px;
}
.error {
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    background-color:#EDB9B1;
    background-image:url(../images/error-16x16.gif);
    background-position:5px;
    background-repeat:no-repeat;
    border:1px solid #BB8888;
    color:#990000;
    font-weight:bold;
    margin-bottom:20px;
    margin-top:10px;
    padding:5px 5px 5px 28px;
}
.warning {
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    background-color:#FFE9B2;
    background-image:url(../images/icon_warning-small.gif);
    background-position:5px;
    background-repeat:no-repeat;
    border:1px solid #D9B04C;
    color:#915A15;
    font-weight:bold;
    margin-bottom:20px;
    margin-top:10px;
    padding:5px 5px 5px 28px;
}

/* --------------------------------------------- */
/*  Content Box                                  */
/* --------------------------------------------- */

.B5Chat-contentBox {
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
    display:block;
    margin:0 0 20px;
    padding:12px 10px;
}
.B5Chat-contentBoxHeader {
    background-color:#EEEEEE;
    border-color:#CCCCCC rgb(204, 204, 204);
    border-style:solid solid none;
    border-width:1px 1px medium;
    display:block;
    font-size:9pt;
    font-weight:bold;
    margin:8px 0 0;
    padding:4px 4px 4px 6px;
}
.B5Chat-contentBoxGrey {
    background-color:#F9F9F9;
}
.B5Chat-contentBox h3 {
    color:#555555;
    font-size:10pt;
    margin:0;
    padding:0 0 5px;
}
.B5Chat-contentBox h4 {
    background-color:#FCFCFC;
    border:1px solid #E9E9E9;
    color:#555555;
    font-size:10pt;
    margin:0 0 4px;
    padding:3px 0 3px 4px;
}
.B5Chat-contentBox form {
    margin:0;
    padding:0;
}
.B5Chat-contentBox table {
    margin:0;
    padding:0;
}
.B5Chat-contentBox table td {
    padding:2px;
}
.B5Chat-contentBox table th {
    background-color:#eeeeee;
    padding:4px;
}
th.B5Chat-table-th-center {
    text-align:center;
}
.B5Chat-contentBox table td.B5Chat-formLabel {
    color:#555555;
    font-weight:bold;
    padding-right:5px;
    text-align:right;
    white-space:nowrap;
}
.B5Chat-contentBox-toolbox {
    float:right;
    margin-left:20px;
}
.B5Chat-contentBox-plain {
    display:block;
    margin:0 0 5px;
    padding:12px 0;
}
.B5Chat-contentBox-plain h3 {
    color:#555555;
    font-size:14pt;
    margin:2px 0;
}
.B5Chat-contentBox-plain p {
    font-size:9pt;
    margin:0 0 10px;
}

/* --------------------------------------------- */
/*  Roster box (in Group Settings page)          */
/* --------------------------------------------- */

#B5Chat-roster {
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    background-color:#F9F9F9;
    border:1px solid #DCDCDC;
    display:block;
    font-size:9pt;
    margin:3px 0 4px;
    padding:12px;
    width:390px;
}
#B5Chat-roster b {
    color:#555555;
    display:block;
    font-size:8pt;
    padding:0 0 3px;
}

/* --------------------------------------------- */
/*  Footer                                       */
/* --------------------------------------------- */

#B5Chat-footer {
    border-top:1px solid #DCDCDC;
    clear:both;
    color:#666666;
    font-size:8pt;
    margin:10px 0 0;
    padding:5px 0 40px;
    width:100%;
}
.B5Chat-footer-nav {
    float:left;
    padding-left:5px;
}
.B5Chat-footer-nav a {
    padding:0 5px;
}
.B5Chat-footer-copyright {
    float:right;
    padding-right:12px;
}
#footer {
    background-image:url(../images/page-background_new.gif);
    background-repeat:repeat-y;
    height:30px;
    margin-top:-30px;
    position:relative;
    width:100%;
}
#footer_padding {
    padding-left:165px;
    text-align:center;
}
#footer_content {
    background-color:#F9F9F9;
    border-color:#E6E6E6 rgb(179, 211, 244);
    border-style:solid solid none;
    border-width:1px 1px medium;
    font-size:8pt;
    height:29px;
    margin:0 auto;
    padding:0;
    width:500px;
}
#footer_content span {
    display:block;
    padding:7px;
}

.B5Chat-current {
    font-weight : bold;
    text-decoration : none;
}

/* --------------------------------------------- */
/*  Main content                                 */
/* --------------------------------------------- */

#B5Chat-main-content {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	background:#F5F5F5 url(../images/B5Chat-body-contentbox-bg.gif) repeat-x scroll center top;
	border:1px solid #DCDCDC;
	margin:15px 0 20px 0;
	padding:18px 20px;
    width: 95%;
}