/* completed step */
#b5chat-sidebar ul li.completelink {
    background:transparent url(/images/setup_sidebar_check.gif) no-repeat scroll left center;
    font-weight:bold;
}

/* progress bar */
#b5chat-sidebar-progress {
}
#b5chat-sidebar-progress img {
    display: block;
    border: 1px solid #9e9e9e;
    margin: 3px 0 3px 9px;
}
#b5chat-sidebar-progress a {
    padding-left: 15px;
}

/* styles specific to the 'stepbar' (seen on the LDAP screens) */
#b5chat-contentBox_stepbar {
	display: block;
	margin: 5px 0 0 0;
	padding: 3px;
	border: 1px solid #bbbbbb;
	background-color: #eeeeee;
	color: #000000;
	font-size: 8pt;
}
#b5chat-contentBox_stepbar span {
	margin-right: 32px;
}
#b5chat-contentBox_stepbar span strong {
	color: #000000;
}
#b5chat-contentBox_stepbar span em {
	color: #666;
	font-style: normal;
}
/* contentBox style, used with 'stepbar' above (seen on the LDAP screens) */
.b5chat-contentBox_for-stepbar {
	margin: 0 0 20px 0;
	border-top: 0;
	-moz-border-radius: 0 0 4px 4px;
}
.b5chat-contentBox_for-stepbar h2 {
	font-size: 14pt;
	color: #555555;
}
.b5chat-contentBox_for-stepbar h2 span {
	font-size: 10pt;
	color: #000;
}

/* blue div container (seen on the LDAP screens) */
.b5chat-contentBox_bluebox {
	display: block;
	position: relative;
	border: 1px solid #bbbbbb;
	background-color: #eeeeee;
	-moz-border-radius: 3px;
	margin: 0 0 12px 0;
	padding: 12px;
}
.b5chat-contentBox_bluebox strong {
	display: block;
	position: relative;
	color: #000000;
	padding-bottom: 3px;
}

/* grey div container (seen on the LDAP screens) */
.b5chat-contentBox_greybox {
	display: block;
	position: relative;
	border: 1px solid #bbbbbb;
	background-color: #eeeeee;
	-moz-border-radius: 3px;
	margin: 0 0 12px 0;
	padding: 12px;
}
.b5chat-contentBox_greybox strong {
	display: block;
	position: relative;
	color: #555555;
	padding-bottom: 3px;
}

/* form elements for LDAP */
.b5chat-contentBox td select {
	z-index: 10;
	float: left;
}
.b5chat-contentBox td input {
	float: left;
}
.b5chat-contentBox td select#b5chatLDAPserverType,
.b5chat-contentBox td input#b5chatLDAPbasedn,
.b5chat-contentBox td input#b5chatLDAPadmindn {
	width: 320px;
}
.b5chat-contentBox td input#b5chatLDAPhost,
.b5chat-contentBox td input#b5chatLDAPadminpwd,
.b5chat-contentBox td input#b5chatLDAPusername,
.b5chat-contentBox td input#b5chatLDAPgroupname,
.b5chat-contentBox td input#b5chatLDAPgroupmember,
.b5chat-contentBox td input#b5chatLDAPgroupdesc,
.b5chat-contentBox td input#b5chatLDAPgroupsearchfilter{
	width: 160px;
}
.b5chat-contentBox td input#b5chatLDAPsearchfields,
.b5chat-contentBox td input#b5chatLDAPsearchfilter {
	width: 220px;
}
.b5chat-contentBox td label {
	margin-right: 5px;
}


/* button to toggle the advanced settings panel */
.b5chatAdvancedButton {
	display: block;
	position: relative;
	width: auto;
	clear: both;
	margin-top: 0;
}
.b5chatAdvancedButton a {
	padding: 2px 0 2px 14px;
	margin: 0 0 5px 0;
	background: url('../images/twisty_closed_9x9.gif') no-repeat left;
	background-position: 1px;
	color: #555555;
}
a.b5chatAdvancedButtonOn {
	background: transparent url('../images/twisty_opened_9x9.gif') no-repeat left;
	background-position: 1px;
}
.b5chatAdvancedButtonTopPad {
	margin-top: 7px;
}
/* advanced settings panel (for Connection Settings) */
.b5chatadvancedPanelcs {
	display: block;
	position: relative;
	clear: both;
	width: 100%;
	background: #eeeeee;
	border: 1px solid #bbbbbb;
	margin: 5px 0 10px 0;
	padding: 0;
	overflow: hidden;
	-moz-border-radius: 4px;
}
.b5chatadvancedPanelcs div {
	margin: 12px;
}
.b5chatadvancedPanelcs div table {
	background-color: #fff;
	border: 1px solid #ccc;
}
.b5chatadvancedPanelcs div table th,
.b5chatadvancedPanelcs div table td {
	font-size: 11px;
	padding: 3px 5px 3px 5px;
}
.b5chatadvancedPanelcs div table th,
.b5chat-vcardTable th {
	color: #000;
	font-weight: bold;
	background-color: #dddddd;
}
.b5chatadvancedPanelcs div table td.b5chat-advancedLabel {
	color: #000000;
	font-weight: bold;
	background-color: #dddddd;
	text-align: right;
}
.b5chatadvancedPanelcs div table td.b5chat-advancedDesc {
	color: #333;
}
.b5chatadvancedPanelcs div table td.b5chat-advancedCenter {
	text-align: center;
}
.b5chatadvancedPanelcs div table td input {
	float: none;
}
.b5chatadvancedPanelcs div table td.b5chat-advancedBorderBottom,
.b5chat-vcardTable td.b5chat-vardBorderBottom {
	border-bottom: 1px solid #e8e8e8;
}
.b5chatadvancedPanelcs div table td.b5chat-advancedBorderRight,
.b5chat-vcardTable td.b5chat-vardBorderRight {
	border-right: 1px solid #e8e8e8;
}
.b5chatadvancedPanelu {
	margin-top: 8px;
	width: 97%;
	background-color: #fafafa;
	border: 1px solid #dcdcdc;
	-moz-border-radius: 3px;
	padding: 8px;
}
.b5chatadvancedPanelu td {
	white-space: nowrap;
}



.b5chat-vcardTable {
	width: 90%;
	background-color: #fff;
	border: 1px solid #ccc;
}
html>body .b5chat-vcardTable {
	width: 100%;
}
.b5chat-vcardTable th,
.b5chat-vcardTable td {
	font-size: 11px;
	padding: 2px 5px 2px 5px;
}
.b5chat-vcardTable th {
	text-align: left;
}
.b5chat-vcardTable td.b5chat-vcardTable-label,
.b5chat-vcardTable td.b5chat-vcardTable-label strong {
	color: #333;
}
.b5chat-vcardTable td.b5chat-vcardTable-value input {
	font-size: 10px;
	width: 230px;
}

/* language selection specific styles */
#b5chat-setup-language {
	padding: 0 0 10px 18px;
}
#b5chat-setup-language p {
	line-height: 180%;
}


/* form buttons throughout setup process */
.b5chat-buttons {
	padding-top: 15px;
}
.b5chat-contentBox input#b5chat-setup-save {
	padding: 2px 5px 2px 5px;
	margin: 0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #7c7c7c;
	background: #d6892c url(../images/setup_btn_bg-orange.gif) repeat-x;
}
.b5chat-contentBox input#b5chat-setup-skip,
.b5chat-contentBox input#b5chat-setup-back {
	padding: 2px 5px 2px 5px;
	margin: 0 10px 0 0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #7c7c7c;
	background: #8c8c8c url(../images/setup_btn_bg-grey.gif) repeat-x;
}
.b5chat-contentBox input#b5chat-setup-test {
	padding: 2px 5px 2px 5px;
	margin: 0 0 0 0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #7c7c7c;
	background: #8c8c8c url(../images/setup_btn_bg-grey.gif) repeat-x;
}
.b5chat-contentBox button#b5chat-setup-test img {
	vertical-align: text-top;
	margin: 0;
	padding: 0;
	border: 0;
}
.b5chat-contentBox a#b5chat-setup-test2 {
	padding: 3px 5px 3px 5px;
	margin: 0 10px 0 0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #7c7c7c;
	text-decoration: none;
	background: #8c8c8c url(../images/setup_btn_bg-grey.gif) repeat-x;
}
.b5chat-contentBox a#b5chat-setup-test2 img {
	vertical-align: text-top;
	margin: 0;
	padding: 0;
	border: 0;
}
.b5chat-description {
	display: block;
	clear: both;
	font-size: 11px;
}
.error {
    color : #900;
    font-weight : bold;
    background-color : #EDB9B1;
    padding : 5px;
    border: 1px solid #BB8888;
    margin-top : 10px;
	margin-bottom: 20px;
    padding-left : 28px;
    background-image : url(/images/error-16x16.gif);
    background-repeat : no-repeat;
    background-position : 5px 5px;
	-moz-border-radius: 3px;
}
.b5chat_setup_launchAdmin a,
.b5chat_setup_launchAdmin a:visited {
	position: relative;
	padding: 6px 9px 6px 9px;
	margin: 20px 0 0 0;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #555555;
	background: #D76C0D url(../images/setup_btn_bg-orange.gif) repeat-x;
	text-decoration: none;
	-moz-border-radius: 4px;
}




/* --------------------------------------------- */
/*  Tooltip styles                               */
/* --------------------------------------------- */
.b5chat-setup-helpicon {
	display: block;
	float: left;
	width: 17px;
	height: 17px;
    margin: 3px 0 0 5px;
	background: transparent url(../images/setup_helpicon.gif) no-repeat;
}
div.b5chatTooltip {
	position: absolute;
	width: 330px;
	padding: 6px;
	background-color: #f9f5d5;
	border: 1px solid #999;
	text-align: left;
	z-index: 20;
	-moz-border-radius: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=92);
	-moz-opacity: .92;
	-khtml-opacity: .92;
}
div.b5chatTooltip .contents {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	margin: 0;
	padding: 0 3px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
}



/* --------------------------------------------- */
/*  Test settings panel                          */
/* --------------------------------------------- */

.b5chat-testPanel {
	display: block;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	border: 2px solid #666666;
	background-color: #f8f7eb;
	overflow: hidden;
	z-index: 9997;
	-moz-border-radius: 6px;
}
.b5chat-testPanel-content {
	display: block;
	float: left;
	padding: 20px;
	font-size: 8pt;
	z-index: 9999;
}
.b5chat-testPanel-close a,
.b5chat-testPanel-close a:visited {
	float: right;
	color: #666;
	padding: 2px 5px 2px 18px;
	margin: 0;
	font-size: 8pt;
	background: transparent url(../images/setup_btn_closetestx.gif) no-repeat left;
	background-position: 4;
	border: 1px solid #ccc;
	z-index: 9999;
}
.b5chat-testPanel-close a:hover {
	background-color: #e9e8d9;
}
.b5chat-testPanel-content h2 {
	font-size: 14pt;
	color: #555555;
	margin: 0 0 10px 0;
	padding: 0;
}
.b5chat-testPanel-content h2 span {
	font-size: 10pt;
	color: #000;
}
.b5chat-testPanel-content h4 {
	font-size: 12pt;
	margin: 0 0 10px 0;
	padding: 0;
}
.b5chat-testPanel-content h4.b5chat-testSuccess {
	color: #1e7100;
}
.b5chat-testPanel-content h4.b5chat-testError {
	color: #890000;
}
.b5chat-testpanel-vcard {
	display: block;
	float: left;
	width: 682px;
	border: 1px solid #bbbbbb;
	padding: 4px;
	background-color: #fff;
}
.b5chat-testTable-vcard {
	float: left;
}
.b5chat-testpanel-vcard-header {
	border: 1px solid #dddddd;
	background-color: #eaeaea;
	font-weight: bold;
	padding: 1px 2px 1px 4px;
	font-size: 8pt;
}
.b5chat-testpanel-vcard-label {
	text-align: right;
	padding: 1px 2px 1px 6px;
	color: #666;
	font-size: 8pt;
}
.b5chat-testpanel-vcard-value {
	text-align: left;
	padding: 1px 8px 1px 2px;
	font-size: 8pt;
}
.b5chat-testpanel-vcard-value a {
	color: #555555;
}
.b5chat-testpanel-vcard-value strong {
	color: #890000;
}
.b5chat-testpanel-vcard-next {
	text-align: right;
	padding-top: 12px;
}
.b5chat-testpanel-vcard-next a {
	display: block;
	float: right;
	font-weight: bold;
	padding-right: 18px;
	margin-right: 4px;
	background: transparent url(../images/setup_nextprofile.gif) no-repeat right;
	color: #555555;
	text-decoration: none;
}